body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden; }

a {
  color: #00B7FF; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 21px;
  left: 50%;
  right: auto;
  bottom: auto;
  width: 25%;
  overflow: auto; }
  .modal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; }
    .modal .modal-content .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold; }
      .modal .modal-content .close:hover, .modal .modal-content .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer; }
