<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel=stylesheet href=/styles/css/style.css />
    </head>
    <body>
        <button id=salvar>Salvar</button>  
        <div id=container>
            <button id=myBtn>Open Modal</button>
            <div id=myModal class=modal>

            <div class=modal-content>
                <span class=close>&times;</span>
                <p>Some text in the Modal..</p>
            </div>

        </div>
        <input type=hidden id=pts value="<%= pts %>">
        <element onkeypress=myScript></element>
        <script src=https://code.jquery.com/jquery-3.3.1.min.js></script>
        <script src=https://cdn.rawgit.com/konvajs/konva/2.1.7/konva.min.js></script>
        <script src=scripts/variaveis.js></script>
        <script src=scripts/imagem.js></script>
        <script src=scripts/javascript.js></script>
        <script src=scripts/arrow0.js></script>
        <script src=scripts/arrow1.js></script>
        <script src=scripts/arrow2.js></script>
        <script src=scripts/arrow3.js></script>
        <script src=scripts/label.js></script>
    </body>
</html>
